<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    body {
      background-image: url('static/images/ring1.jpeg');
      background-repeat: repeat;
      /* background-attachment: fixed;  
      background-size: cover; */
    }
    </style>
<body>
    <div class="container">
        <h1>Hi {{request.session.name}}, Welcome to "My Bench"</h1>
        <!-- <input type="button" value="My Page" onclick="my_page()"> -->
        <a href="/my_page/{{request.session.id}}">My Page</a>
        <a href="/comm_page/{{request.session.id}}">Community Page</a>

    </div>
    <div class="api">
        <p>Place holder for API</p>
    </div>
    <div class="whatsnew">
        <p>Place holder for a field to post new stuff</p>
    </div>

    <a href='/'>Logout</a>
    
</body>
</html>